.Resume .resume-background {
  background: linear-gradient(-30deg, hsl(0, 0%, 21%), hsl(0, 0%, 21%) 45%, hsl(0, 0%, 14%) 45%);
  color: #fff !important;
}

.Resume .details {
  margin: 0 auto;
  width: 30%;
}

.Resume .details {
  width: 50%;
}

.Resume .details.wider {
  width: 65%;
}

.Resume .details .icon {
  vertical-align: middle;
  margin: 5px;
}

.Resume .details a {
  color: #fff;
}

.Resume .details a:hover {
  color: #aaa;
}

.Resume .info-card:first-child {
  margin-top: 4rem;
}

.Resume .info-card:last-child {
  margin-bottom: 4rem;
}

.Resume .projects .project:not(:first-child) {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
}

.Resume .info-card.details {
  width: 100%;
}

.Resume .Skill .expert {
  opacity: 1;
}

.Resume .Skill>progress {
  background: #008571;
}

.Resume .Skill .strong {
  opacity: 0.7;
}

.Resume .Skill .average {
  opacity: 0.5;
}

.Resume .Skill .okay {
  opacity: 0.35;
}

.Resume .Skill .beginner {
  opacity: 0.2;
}
