.introduction .paragraph {
  margin: 30px auto;
  width: 60%;
}

.has-akinyele-background {
  background: #f3eef4;
}

.introduction .discover {
  padding: 10px 15px;
  font-size: 20px;
  border: #008571 solid 1px;
  border-radius: 100px;
  outline: none;
  color: #fff;
  background: #008571;
  cursor: pointer;
}

@media screen and (max-width: 1216px) {
  .introduction .paragraph {
    width: 90%;
  }
}
