.Welcome {
  transition: 3s;
}

.Welcome .intro {
  padding-top: 20px;
  padding-bottom: 40px;
}

.Welcome .title {
  font-weight: normal;
}
.Welcome .title .major {
  font-size: 4.3rem;
}
.Welcome .title .medium {
  font-size: 1.7rem;
}
.Welcome .title .minor {
  font-size: 1.3rem;
  font-weight: bold;
}

.Welcome button.discover {
  margin-bottom: 2rem;
  height: 46px;
  padding: 10px 20px;
  border-radius: 0;
  border: #008571 solid 1px;
  background: #00000080;
  color: #888;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}

.Welcome button.discover:hover {
  background: #000;
  color: #fff;
}

.Welcome .language {
  padding: 10px;
}

.Welcome button.discover:focus {
  border: #00d1b2 solid 1px;
}

.Welcome .title {
  color: #dfdfdf;
}

.Welcome .name {
  padding-bottom: 30px;
}

.Welcome .name .title:not(:last-child) {
  margin-bottom: 0;
}

.Welcome .name .title:not(:first-child) {
  font-weight: bold;
}

.contact-me {
  color: #fff;
  font-size: 1rem;
}

.contact-me:hover {
  color: #ccc;
  text-decoration: underline;
}

.bg {
  background: rgba(0, 0, 0, 0.65);
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg .img {
  opacity: 0;
  position: absolute;
  visibility: hidden;
  width: 100%;
  height: 100%;
  transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
  -webkit-transition: 1s all;
}

.bg .img.showing {
  opacity: 0.25;
  visibility: visible;
}

.bg .img.bg1 {
  background: url('/bg1.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg2  {
  background: url('/bg2.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg3  {
  background: url('/bg3.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg4  {
  background: url('/bg4.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg5  {
  background: url('/bg5.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg6  {
  background: url('/bg6.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg7  {
  background: url('/bg7.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg8  {
  background: url('/bg8.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg9  {
  background: url('/bg9.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg10 {
  background: url('/bg10.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg11 {
  background: url('/bg11.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg12  {
  background: url('/bg12.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg13  {
  background: url('/bg13.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg14  {
  background: url('/bg14.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg15  {
  background: url('/bg15.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg16  {
  background: url('/bg16.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg17  {
  background: url('/bg17.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg18  {
  background: url('/bg18.jpg') no-repeat center/cover;
  height: 100%;
}
.bg .img.bg19  {
  background: url('/bg19.jpg') no-repeat center/cover;
  height: 100%;
}

@media screen and (min-width: 1216px) {
  .Welcome .nav-right {
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
  }
}
